/* Tailwind config  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Raleway";
		src:
			url("/Raleway-VF.woff2") format("woff2 supports variations"),
			url("/Raleway-VF.woff2") format("woff2-variations");
		font-weight: 100 1000;
	}
	/* Not using Inter font currently */
	/* @font-face {
		font-family: "Inter";
		src: url("./Inter.var.woff2") format("woff2 supports variations"),
			url("Inter.var.woff2") format("woff2-variations");
		font-weight: 100 1000;
	} */

	:root {
		--font-main: "Raleway";
		/* Recommended fallback: https://css-tricks.com/newsletter/259-how-to-use-variable-fonts/ */
		--font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
			"Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
	}

	/*
	Since variable font is not working properly, use fallback in Safari for now.
	There is code in `index.html` that will remove remove `app-font` class from body if browser
	is Webkit
	 */
	body {
		font-family: var(--font-fallback);
	}

	.app-font {
		font-family: var(--font-main), var(--font-fallback);
		font-weight: 480;
		/* "Fix" for numbers uneven showing https://www.codesmite.com/article/fixing-raleway-and-similar-fonts-numerals */
		font-feature-settings: "lnum";
	}

	.dark {
		color-scheme: dark;
	}

	.no-show-value {
		@apply text-purple-600 dark:text-purple-300;
	}
}

@layer components {
	.min-h-text {
		@apply relative min-h-[1.5rem];
	}
	/* INPUT  */
	.s-input {
		@apply min-h-6 relative w-full  bg-transparent
     p-3 text-left text-black	placeholder:text-gray-400 disabled:bg-stone-200;
		@apply rounded-md border-2 border-stone-300;
		@apply outline-none focus-within:border-stone-500 focus-within:shadow  focus-within:ring-0;
		@apply dark:border-slate-600 dark:text-gray-100 dark:focus-within:border-gray-300 dark:disabled:bg-slate-700;
	}
	/* Used for code input since it's not using disabled state */
	.s-input.s-input-disabled {
		@apply bg-stone-200 dark:bg-slate-700;
	}

	/** deprecated */
	.input {
		@apply s-input;
	}
	.s-input.s-input-error {
		@apply border-error focus:border-error-content dark:border-error dark:focus:border-error-content;
	}
	/* .err .input,
	.err.input {
		@apply border-red-400 focus-within:border-red-700 dark:focus-within:border-red-200;
	} */
	/* END INPUT */
	.center {
		@apply flex items-center justify-center;
	}

	.s-input-select {
		@apply h-[3.2rem] pr-8 text-stone-500;
		/* @apply h-[3.2rem] pr-8 text-stone-500; */
	}

	.s-input-select::after {
		content: "▼";
		/* Make better shape */
		transform: scale(1.3, 0.8);
		width: 25px;
		@apply center absolute inset-y-0 right-1 min-h-full text-stone-500;
	}

	/* .tab-selected::after {
		content: "";
		@apply absolute right-0 left-0 bottom-0 mx-auto h-1 w-1/2 rounded-lg bg-blue-500;
	} */
}

/* ------------------------------------------------------ */

/* --------- For some reason, ReactAdmin layout has bad side padding         */
#main-content.RaLayout-content {
	/* padding-left: 10px !important;
  padding-right: 10px !important; */
	/* @apply max-w-5xl mx-auto px-3 !important; */
	@apply mx-auto px-3 !important;
}
/* ----------------------------------------------------------------------- */

/* Make crud content have max width */
.crud-content {
	@apply mx-auto mb-8 mt-2 w-full max-w-7xl !important;
}

/* Array input is not prettiest. This is basic styling */
.RaSimpleFormIterator-line {
	@apply mb-1 rounded border-b px-1 pb-2;
}
/* Add button */
.RaSimpleFormIterator-line:last-child {
	@apply border-b-0 pt-3;
}

.RaSimpleFormIterator-indexContainer {
	@apply flex items-center justify-between;
}
.RaSimpleFormIterator-indexContainer > p {
	@apply text-base;
}

.RaSimpleFormIterator-indexContainer > .button-reorder {
	@apply flex;
}

/* animation not working in firefox. Switch to other solution */
/* progress[value] {
	transition: width 0.2s;
} */

/* ::-moz-progress-bar {
	transition: all 0.s;
} */
::-webkit-progress-value {
	transition: width 0.2s;
}

.s-label.s-required::after {
	content: "*";
	@apply ml-0.5;
}
